.header-main{
    display: flex;
    position: fixed;
    height: 60px;
    width: 100%;
    background-color: #a8cbff;
    padding: 0 20px;
    justify-content: space-between;
    box-shadow: 0 3px 10px rgba(0,0,0,0.5);
    z-index: 5;
}
.header-logo {
    position: relative;
    display: flex;
    height: 100%;
    align-items: center;
    line-height: normal;
}

.header-logo .logo {
    display: flex;
    position: relative;
    color: #393E46;
    font-size: 35px;
    text-align: center;
    -webkit-user-select: none;
}

.logo:hover {
    cursor: pointer;
}

.header-buttons {
    display: flex;
    position: relative;
    height: 100%;
    align-items: center;
}

.burger-menu{
    display: none;
}

#search-input-menu{
    display: none;
}

.ui.pointing.vertical.menu.menu-list{
    display: none;
}

@media (max-width: 756px) {
    #link-button-1, #link-button-2, #link-button-3 {
        display: none;
    }

    .burger-menu {
        display: flex;
        position: relative;
        align-items: center;
        text-align: center;
        justify-content: center;
        font-size: 25px;
        margin-right: 10px;
        color: white;
        height: 60px;
    }
    .burger-menu img{
        height: 100%;
    }

    .menu-list {
        position: absolute;
        right: 0;
        top: 60px;
    }

    .active.item::after{
        display: none;
    }
    .ui.pointing.vertical.menu.menu-list{
        display: block;
    }
    #menu-list-hidden {
        display: none;
    }
}

@media (max-width: 560px) {
    .header-logo .logo {
        font-size: 25px;
    }
}

@media (max-width: 496px) {
    #search-input-menu {
        display: block;
        border: none;
    }
    #search-input-header {
        display: none;
    }
}
