.startups-list {
    background-color: white;
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    flex-direction: column;
    z-index: 0;
}

.startup-list-item {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    max-height: 300px;
    min-height: 200px;
    padding: 5px 15px;
    border-bottom: solid 2px #ebebeb;
}

.startup-list-item:last-child {
    border-bottom: none;
}

.startup-list-item:hover {
    cursor: pointer;
    background-color: rgba(143, 188, 255, 0.15);
}

.description-side {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: start;
    text-align: left;
    max-width: 75%;
}

.startup-name {
    margin: 10px 0 0 0;
    font-size: 30px;
    color: #2185d0;
}

.posting-date {
    color:grey;
}

.startup-short-description {
    margin: 15px 0 0 0;
    font-size: 20px;
}

.startup-full-explanation {
    margin: 10px 0;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* Number of lines to display */
    -webkit-box-orient: vertical;
    overflow: hidden;
    position: relative;
    width: 100%;
}


.photo-side{
    display: flex;
    width: 25%;
}

.startup-photo {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
}

.startup-photo img {
    width: 100%;
}